/* TABLE OF CONTENT
    -------------------------------------------------- 

    1. NAVBAR
    2. ABOUT US
    3. SERVICE
    4. PORTFOLIO
    5. TEAM
    6. PRICE TABLES
    7. PROCESS
    8. CLIENTS
    9. FACTS
    10. CONTACT    
    11. FOOTER
    12. BORDERS
    13. RESPONSIVE CSS
     
    */

/* 1. Navbar
-------------- */

.navbar-inverse {
  background-color: #c0392b;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
}

/* 2. About Us
-------------- */

    #about {
	    background: #000;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    #about h1 {
	    color: #fff;  
    }
    
    #about p {
	    color: #fff;
    }
    
    #skillbar h6 {
	    color: #fff !important;
    }

/* 3. Service
-------------- */
    
    #service {
	    background: #c0392b;
	    padding: 120px 0px;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
    }
    
     #service h1 {
	    color: #fff;
    }
    
    .service-col:hover {
	    background: #000;
	    color: #fff;
    }
    
    .service-col h4 {
	    color: #fff;
	}
	
	.service-col:hover h4 {
	    color: #e67e22 !important;
	    border-bottom: 1px solid #fff;
    }
    
    .service-col p {
	    color: #c1c1c1;
    }
    
     .service-col:hover p {
	    color: #fff;
    }
    
    .service-col:hover > div {
        background: #e62922;
        color: rgb(31, 6, 6);
    }
    
    .icon-wrench, .icon-mobile, .icon-desktop {
	    background-color: #000;
        color: #e67e22;
    }

/* 4. Portfolio
-------------- */
    
    #portfolio {
	    background: #000;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #portfolio h1 {
	    color: #fff;
    }
    
    .caption {
        color: #fff !important;
        background: rgba(192, 57, 43, 0.75);
    }
    
    .caption h5 {
        color: #000;
	    border-bottom: 1px solid #fff;
	}
    
/* 5. Team
-------------- */
    
    #team {
	    background: #c0392b;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    text-align: center;
    }
    
    #team h1 {
	    color: #fff;
    }
    .team:hover {
	    background-color: #000;
	    color: #fff;
    }
    
    .team h5 {
        color: #fff;
    }

    .job {
        color: #443e44 !important;
        border-bottom: 1px dashed #9e968f;
    }
    
    .team p {
	    color: #c1c1c1;
    }
    
    .team:hover p {
	    padding: 10px;
	    color: #fff;
    }
    
    .team a {
	    color: #c1c1c1;
    }
    
    .team:hover a {
	    color: #fff;
    }
    
    .member1, .member2, .member3, .member4 {
        color: #e67e22;
    }
    
    .team-member1:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member2:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member3:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    .team-member4:hover > div {
        color: #fff;
        border: 5px solid #e67e22;
    }
    
    .icon-social {
        background: #fff;
        color: #000;
    }
    
   
    
/* 6. Price
-------------- */
    
    #price {
	    background: #000;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #price h1 {
	    color: #fff;
    }
    
    .price-table {
    	border: 1px solid #c0392b;
    }
    
    .price-table-heading h3 {
	    color: #c1c1c1 !important;
    }
    
    .price-table:hover {
        background: #e67e22;
    }
    
    .the-price {
		background-color: #c0392b;
    }
    
    .table-feature {
    	border: 2px solid #e67e22;
	}
	
	.table-feature:hover {
       background: #e67e22;
    }
    
    /* 6. Process
-------------- */
    
    #process {
	    background: #c0392b;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
    }
    
    #process h1 {
	    color: #fff;
    }
    
    .our-process { 
        background: #c0392b url(../img/process/our-process-theme2.svg) no-repeat center; 
    }
    
    .process-con h5 {  
        color: #c1c1c1;
    }
    
    .process-img { 
        background-color: #000;
        color: #e67e22;
    }
    
    .process-img:hover {
	    background: #e67e22;
	    color: #fff;
    }


/*7. Clients
-------------- */
    
    #clients {
	    background: #000;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 1000;
    }
    
    .testemonials p {
	    color: #c1c1c1;
    }
    
    .testemonials .author {
	    color: #e67e22;
    }
    
     #clients h1 {
	    color: #fff;
    }
    
    .nbs-flexisel-item {
        border-bottom: 1px solid #fff;
    }
    
    .nbs-flexisel-nav-left,
    .nbs-flexisel-nav-right {
        background-color: #443e44 !important;
    }
    
    .nbs-flexisel-nav-left:hover,
    .nbs-flexisel-nav-right:hover {
        background-color: #e67e22 !important;
    }
     
/* 8. FACTS
-------------- */
    
    #facts {
	    background: #c0392b url("../img/watermelonrind.jpg")  no-repeat;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
    }
    
    #facts h1 {
	    color: #fff;
    }   
    
     /* Fun Facts */
    
    .fun-fact h5 {
	    color: #fff;
    }
    
    .fun-fact h3 {
	    color: #fff;
    }
    
    .fun-fact p {
	    color: #c1c1c1;
	    font-size: 60px;
    }
    
    .fun-fact:hover p {
	    color: #e67e22;
    }   
       
/* 9. Contact
-------------- */
   
    #contact {
	    background: #000;
	    padding: 120px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    #contact h1 {
	    color: #fff;
    }
    
    .requi {
	    color: #fff;
    }
    
/* 10. Footer
-------------- */
    
    #foot {
        background: #c0392b;
        margin-top: 20px;
	    padding: 10px 0px ;
	    display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
	    z-index: 900;
	    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
	    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.9);
    }
    
    .bottom-con h5 {
	    color: #fff;
    }
    
    .bottom-con p {
        padding-left: 30%;
	    text-align: left;
	    color: #fff;
    }
    
    .footer a:hover {
	    color: #e67e22;
    }
    
    /* GOING UP ARROW */
    
    .up {
	    background: #000;
    }
    
    .up span:hover {
		color: #e67e22 ;
	}
	
	.up span {
	    color: #c1c1c1;
	}
	
/* 11. Borders
-------------- */

    .head-border-white {
	    background: #fff;
    }
    
    .head-border-grey {
	    background: #443e44;
    }	

/* 12. General
-------------- */
 
    .head p {
	    color: #fff;
    }
    
    @media only screen and (max-width: 767px) {
	    
	.our-process { 
       background: #c0392b url(../img/process/our-process-theme2-mobil.svg) no-repeat center top; 
       min-height: 1200px;
       margin-bottom: 150px;
    }
    
    .process-con h5 {  
       background: #c0392b; 
    }
    
    }


    /* typed.js start  */
/* 
.banner {
	display: block;
	min-height: 200px;
	width: 100%;
	position: relative;
}
.typed_wrap {
	display: block;
	border: 4px solid #ecf0f1;
	width: 290px;
	height: auto;
	padding: 30px;
	
	/*centers it in the .banner*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.typed_wrap h1 {
	display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
 */



ul.row {
    padding: 0px;
    margin: 0px;
  }
  
  .row li {
    list-style: none;
    padding: 0px 10px 0px 10px;
    margin: 25px 0px 0px 0px;
  }
  
  img {
    padding: 0px;
    margin: 0px;
  }


  /* The Team section */

  @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .s3-container {
    position: relative;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .s3-container .s3-flip-cards {
    width: 150px;
    height: 191px;
    position: relative;
    float: left;
    margin: 15px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .s3-container .s3-flip-cards:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  .s3-container .s3-flip-cards div {
    width: 150px;
    height: 191px;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .s3-container .s3-flip-cards .s3-front-card {
    color: white;
    padding: 0.3em;
    text-align: center;
    z-index: 2;
    background: black;
    -webkit-box-shadow: 0 4px 3px -3px black;
    box-shadow: 0 4px 3px -3px black;
  }
  .s3-container .s3-flip-cards .s3-reverse-card {
    padding: 0.3em;
    border: solid 1px #ccc;
    background: #f0f0f0;
    -webkit-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    -webkit-transform: rotateY(180deg);
    transform: rotateX(180deg);
  }
  .s3-container .s3-flip-cards .s3-reverse-card h1 {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #f0f0f0;
  }
  .s3-container .s3-flip-cards .s3-reverse-card a {
    text-decoration: none;
    color: black;
    background: white;
    padding: 0.5em;
    display: block;
  }
  .s3-container .s3-flip-cards .s3-reverse-card a:hover {
    color: white;
    background: black;
  }
  
  /* end team section */